/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
	    font-family: "Poppins", sans-serif;
	        color: #444444;
	}

	a,
	a:hover {
		    text-decoration: none;
		        color: inherit;
		}

		.section-products {
			    padding: 80px 0 54px;
		    }

		    .section-products .header {
			        margin-bottom: 50px;
			}

			.section-products .header h3 {
				    font-size: 1rem;
				        color: #fe302f;
					    font-weight: 500;
				    }

				    .section-products .header h2 {
					        font-size: 2.2rem;
						    font-weight: 400;
						        color: #444444; 
						}

						.section-products .single-product {
							    margin-bottom: 26px;
						    }

						    .section-products .single-product .part-1 {
							        position: relative;
								    height: 290px;
								        max-height: 290px;
									    margin-bottom: 20px;
									        overflow: hidden;
									}

									.section-products .single-product .part-1::before {
												position: absolute;
														content: "";
																top: 0;
																		left: 0;
																				width: 100%;
																						height: 100%;
																								z-index: -1;
																										transition: all 0.3s;
																									}

																									.section-products .single-product:hover .part-1::before {
																												transform: scale(1.2,1.2) rotate(5deg);
																											}

																											.section-products #product-1 .part-1::before {
																												        background-size: cover;
																															transition: all 0.3s;
																														}

																														.section-products #product-2 .part-1::before {
																															    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
																															        background-size: cover;
																															}

																															.section-products #product-3 .part-1::before {
																																    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
																																        background-size: cover;
																																}

																																.section-products #product-4 .part-1::before {
																																	    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
																																	        background-size: cover;
																																	}

																																	.section-products .single-product .part-1 .discount,
																																	.section-products .single-product .part-1 .new {
																																		    position: absolute;
																																		        top: 15px;
																																			    left: 20px;
																																			        color: #ffffff;
																																				    background-color: #fe302f;
																																				        padding: 2px 8px;
																																					    text-transform: uppercase;
																																					        font-size: 0.85rem;
																																					}

																																					.section-products .single-product .part-1 .new {
																																						    left: 0;
																																						        background-color: #444444;
																																						}

																																						.section-products .single-product .part-1 ul {
																																							    position: absolute;
																																							        bottom: -41px;
																																								    left: 20px;
																																								        margin: 0;
																																									    padding: 0;
																																									        list-style: none;
																																										    opacity: 0;
																																										        transition: bottom 0.5s, opacity 0.5s;
																																										}

																																										.section-products .single-product:hover .part-1 ul {
																																											    bottom: 30px;
																																											        opacity: 1;
																																											}

																																											.section-products .single-product .part-1 ul li {
																																												    display: inline-block;
																																												        margin-right: 4px;
																																												}

																																												.section-products .single-product .part-1 ul li a {
																																													    display: inline-block;
																																													        width: 40px;
																																														    height: 40px;
																																														        line-height: 40px;
																																															    background-color: #ffffff;
																																															        color: #444444;
																																																    text-align: center;
																																																        box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
																																																	    transition: color 0.2s;
																																																    }

																																																    .section-products .single-product .part-1 ul li a:hover {
																																																	        color: #fe302f;
																																																	}

																																																	.section-products .single-product .part-2 .product-title {
																																																		    font-size: 1rem;
																																																	    }

																																																	    .section-products .single-product .part-2 h4 {
																																																		        display: inline-block;
																																																			    font-size: 1rem;
																																																		    }

																																																		    .section-products .single-product .part-2 .product-old-price {
																																																			        position: relative;
																																																				    padding: 0 7px;
																																																				        margin-right: 2px;
																																																					    opacity: 0.6;
																																																				    }

																																																				    .section-products .single-product .part-2 .product-old-price::after {
																																																					        position: absolute;
																																																						    content: "";
																																																						        top: 50%;
																																																							    left: 0;
																																																							        width: 100%;
																																																								    height: 1px;
																																																								        background-color: #444444;
																																																									    transform: translateY(-50%);
																																																								    }
