<p style="color: green"><%= notice %></p>

<section class="section-products">
      <div class="container">
                <div class="row justify-content-center text-center">
                              <div class="col-md-8 col-lg-6">
                                                <div class="header">
                                                                      <h3>Featured Product</h3>
                                                                                          <h2>Popular Products</h2>
                                                                                                          </div>
                                                                                                                      </div>
                                                                                                                              </div>


<div id="products">
  <% @products.each do |product| %>
    <!--%= render product %-->
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div id="product-1" class="single-product">
                  <!--div class="part-1"-->
                    <!--%= image_tag product.image %-->
                   <!--/div-->
                   <div class="part-2">
                  <%= image_tag product.image, size: '200' %>
                  <h3 class="product-title"><%= product.name %></h3>
                  <h4 class="product-price">$<%= product.price %> </h4></br>
                  <%= link_to "Show this product", product %>
                </div>
                                                                                                                                                                                                                                  </div>
                </div>                                                                                                                                                                                                                                 </div>
  <% end %>
</div>
</section>

<%= link_to "New product", new_product_path %>
